.userInfo {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: x-small;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    gap: 15px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}